/* 
    Created on : 2014-okt-07, 09:31:53
    Author     : Daniel
*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/


/* Regular CSS */
html {
    background-color: #FFF;
}

#container {
    width: 40%;
    margin: 0 auto;
    border: 1px dotted #CCC;
}
#menu {
    margin: 5px;
}
#textcontainer {
    margin: 10px;
}
table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 10px 5px;
}

table.weekly th, table.weekly td, table.weekly
{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}

table.weekly th, table.weekly td {
    padding: 5px;
    text-align: left;
}

p {
    margin: 4px;
}
      
.border {
    border-top: 1px dotted #CCC;
}

#addweeklyschedule, #editweeklyschedule, #removeweeklyschedule {
    display: none;
}